body {
    background-color: black;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    color: white;
    text-align: center;
    font-size: 40px;
}

h2 {
    color: white;
    text-align: center;
    font-size: 30px;
}

p {
	color: white;
	margin-left: 15%;
	margin-right: 15%;
	text-align: justify;
    text-justify: inter-word;
    font-size: 20px;
}

.emoji-text, #emoji-text {
    color: black;
}

img {
    display: block;
    margin: auto;
    width: 45%;
    border-radius: 2px;
}

a {
	background-color: #a6e6ea;
    color: black;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    border-radius: 10px;
	display: block;
	margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 20%;
    font-size: 22px;
}

a:hover {
    background-color: black;
    color: #a6e6ea;
}

.normal, #normal {
    color: blue;
    margin-left: 5%;
    margin-right: 0%;
    text-justify: inter-word;
    background-color: black;
    font-size: 20px;
    padding: 0px 0px;
    text-align: left; 
    border-radius: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

button {
    background: transparent;
    border: none !important;
}